# Copy as .env file and fill your values below
# Run ./update_dotenv_example.sh to update .env-example from your .env file.


# Vertex backend config
# Rag Engine only works with Vertex. So we should configure it to use Vertex:
GOOGLE_CLOUD_PROJECT='YOUR_GOOGLE_CLOUD_PROJECT_ID'
GOOGLE_CLOUD_LOCATION='us-central1'

# Existing corpus in Vertex RAG Engine to be used by RAG agent
# e.g. projects/123/locations/us-central1/ragCorpora/456
RAG_CORPUS='projects/YOUR_GOOGLE_CLOUD_PROJECT_ID/locations/us-central1/ragCorpora/YOUR_RAG_CORPUS_ID'

